<div class="form-container">
  @if (editing) {
      <h2 mat-dialog-title>Editar Contato</h2>
  }@else {
      <h2 mat-dialog-title>Novo Contato</h2>
  }

  <form [formGroup]="form" (ngSubmit)="salvar()" class="form-fields">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
            <mat-option value="EMAIL">Email</mat-option>
            <mat-option value="TELEFONE">Telefone</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="valor">
      <mat-error *ngIf="form.get('valor')?.hasError('required')">
        Valor é obrigatório
      </mat-error>
      <mat-error *ngIf="form.get('valor')?.hasError('email')">
        Email inválido
      </mat-error>
      <mat-error *ngIf="form.get('valor')?.hasError('pattern')">
        Telefone inválido (10 ou 11 dígitos)
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions class="actions">
      <button mat-button class="no-hover" type="button" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">
        {{ editing ? 'Salvar Alterações' : 'Criar' }}
      </button>
    </div>
  </form>
</div>