<div class="form-container">
  @if (editing) {
      <h2 mat-dialog-title>Editar Atendimento</h2>
  }@else {
      <h2 mat-dialog-title>Novo Atendimento</h2>
  }

  <form [formGroup]="form" (ngSubmit)="salvar()" class="form-fields">
    <mat-form-field appearance="fill">
      <mat-label>Pet</mat-label>
      <mat-select formControlName="petId" required>
        @for (pet of pets; track $index) {
          <mat-option [value]="pet.id">
            {{ pet.id }} - {{ pet.nome }} ({{ pet.raca.descricao }})
          </mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('petId')?.hasError('required')">
        Pet é obrigatório
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="descricao">
      <mat-error *ngIf="form.get('descricao')?.hasError('required')">
        Descrição é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="valor" type="number" min="1">
      <mat-error *ngIf="form.get('valor')?.hasError('required')">
        Valor é obrigatório
      </mat-error>
      <mat-error *ngIf="form.get('valor')?.hasError('min')">
        Valor deve ser maior que 0
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data do Atendimento</mat-label>
      <input matInput formControlName="dataAtendimento" type="datetime-local">
    </mat-form-field>

    <div mat-dialog-actions class="actions">
      <button mat-button class="no-hover" type="button" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">
        {{ editing ? 'Salvar Alterações' : 'Criar' }}
      </button>
    </div>
  </form>
</div>