<form [formGroup]="form" (ngSubmit)="onSalvar()" class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome">
    <mat-error *ngIf="form.get('nome')?.hasError('required')">
      Nome é obrigatório
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" maxlength="11">
    <mat-error *ngIf="form.get('cpf')?.hasError('required')">
      CPF é obrigatório
    </mat-error>
    <mat-error *ngIf="form.get('cpf')?.hasError('pattern')">
      CPF inválido (11 digitos)
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data de Cadastro</mat-label>
    <input matInput formControlName="dataCadastro" type="date">
  </mat-form-field>

  <div class="actions">
    <button mat-raised-button color="primary" type="submit">
      {{ editing ? 'Salvar Alterações' : 'Criar Cliente' }}
    </button>
  </div>
</form>
